<form class="actor-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
    <div class="resource">
      <label>HP</label>
      <input name="system.hp" type="number" value="{{system.hp}}" min="0"/>
    </div>
    <div class="resource">
      <label>Boom Level</label>
      <input name="system.boomLevel" type="number" value="{{system.boomLevel}}" min="0"/>
    </div>
  </header>

  <section class="sheet-body">
    <pre style="background:#eee; color:#333; padding:0.5em; font-size:0.9em; border:1px solid #ccc;">
      {{json system}}
    </pre>
    <h2>Stats</h2>
    <div class="stats">
      {{#each system.stats as |value key|}}
      <div class="stat">
        <label>{{key}}</label>
        <input name="system.stats.{{key}}" type="number" value="{{value}}" min="0"/>
      </div>
      {{/each}}
    </div>

    <h2>Skills</h2>
    <div class="skills">
      {{#each system.skills as |value key|}}
      <div class="skill">
        <label>{{key}}</label>
        <input name="system.skills.{{key}}" type="number" value="{{value}}" min="0"/>
      </div>
      {{/each}}
    </div>

    <h2>Inventory</h2>
    <ul class="inventory-list">
      {{#each system.inventory}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </section>
</form>
